.shopTopBarBanner{
  position:absolute;
  top:0;
  height:var(--topBarHeight);
  z-index:5;
  display:flex;
  align-items:center;
  justify-content:center;
  pointer-events:auto;
}

.shopTopBarInner{
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;

  background:rgba(20,100,111,0.7);

  cursor:pointer;
  user-select:none;
}

.shopTopBarLabel{
  font-size:8px;
  font-weight:100;
  letter-spacing:0.14em;
  color:var(--navColor);
  opacity:0.85;
  text-transform:uppercase;
}

.shopTopBarPlaceholder{
  font-size:8px;
  font-weight:400;
  letter-spacing:0.14em;
  color:var(--navColor);
  text-transform:uppercase;
}

.shopTopBarInputRow{
  display:inline-flex;
  align-items:center;
  gap:8px;
}

.shopTopBarInput{
  width:220px;
  border:none;
  outline:none;
  background:transparent;

  font-size:8px;
  font-weight:400;
  letter-spacing:0.14em;
  color:var(--navColor);
  text-transform:uppercase;

  padding:0;
  margin:0;
}


.shopTopBarStatus{
  font-size:8px;
  font-weight:400;
  letter-spacing:0.06em;
  color:var(--navColor);
  opacity:0.85;
  text-transform:uppercase;
}
